
{% extends "base.html" %}

{% block title %} Kunst {% endblock %}

{% block content %}
  <div id="gallery"></div>
{% endblock %}

{% block content-aside %}
  <h3>Kunst</h3>
  <div class="art-info">
    <ul>
      <li>"<span class="title"></span>"</li>
      <li></li>
      <li><span class="technique"></span></li>
      <li><span class="dimensions"></span></li>
    </ul>
  </div>
  <div id="gallery-controls" data-role="gallery-controls">
    <button class="prev" data-role="prev"></button>
    <button class="pause" data-role="pause"></button>
    <button class="play hidden" data-role="play"></button>
    <button class="next" data-role="next"></button>
  </div>
{% endblock %}

{% block script-at-foot %}
<script>
  var artObjects = {{ artObjects|safe }}.map(function(ao) {
      return ao.fields;
  });
  $(function() { 
    $("#gallery").gallery({
      width: 500,
      height: 360,
      metaElement : ".art-info",
      metadata  : artObjects
    });
  });
</script>
{% endblock %}