/* only rectangular space. not the triangle  */
html,body {
    height: 100%;
    font-family: 'Helvetica',sans-serif;
    font-size: 13px;
    color: #333;
    background-color: #666
}

body {
    background: url('/static/images/achtergrond.jpg');
    margin: 0;
    padding: 0
}

nav.menu a {
    text-decoration: none
}

.page-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -420px;
    margin-top: -290px;
    width: 840px;
    xborder: 1px solid red
}

section.main {
    position: absolute;
    left: 0;
    background-color: #c8c8c8;
    width: 600px;
    height: 520px
}

footer {
    position: absolute;
    bottom: -60px;
    border-color: #C8C8C8 green blue transparent;
    border-style: solid;
    border-width: 60px 0 0 600px;
    width: 0;
    height: 0
}

#gallery {
    -webkit-transform: translatez(0);
    position: relative;
    width: 500px;
    height: 360px;
    margin: 50px;
    xbackground-color: green
}

#gallery img {
    position: absolute
}

aside {
    position: absolute;
    left: 640px;
    width: 200px;
    background-color: #fff;
    color: grey;
    height: 580px;
    xheight: 400px
}

aside .aside-wrapper {
    position: relative;
    padding: 30px;
    padding-top: 25px;
    height: 400px
}

.personalia ul,.personalia .address {
    xpadding: 30px;
    margin: 0
}

.personalia ul {
    list-style: none;
    margin-top: -7px;
    padding: 0
}

aside h2 {
    font-size: 15px;
    font-weight: 700;
    margin: 0;
    color: red;
    margin-bottom: 20px
}

aside .art-info {
    font-size: 90%
}

aside .art-info ul {
    padding: 0
}

.address {
    position: absolute;
    bottom: 0;
    padding: 26px;
    padding-bottom: 14px;
    margin: 0;
    font-size: 9px;
    line-height: 150%;
    font-weight: 700
}

.address a {
    color: red;
    text-decoration: none
}

xnav :first-child {
    margin-left: 30px
}

nav.menu {
    z-index: 1;
    position: absolute;
    top: 460px;
    width: 106%;
    margin-left: -3%;
    background-color: #000
}

nav.menu .left {
    display: inline-block;
    width: 655px;
    xbackground-color: green;
    text-align: center
}

nav.menu a {
    color: #c8c8c8;
    display: inline-block;
    height: 40px;
    width: 117px;
    line-height: 40px;
    text-align: center
}

nav.menu a.home {
    position: absolute;
    right: 0;
    width: 249px
}

nav.menu a:hover {
    color: red
}

nav.menu ul {
    margin: 0;
    padding: 0;
    height: 100%;
    padding-top: 15px
}

nav.home {
    position: absolute;
    width: 100%;
    height: 80px;
    top: 440px;
    background-color: #fff;
    text-align: center
}

nav.home a {
    color: #333
}

nav.home a:hover {
    color: red
}

#gallery-controls {
    position: absolute;
    bottom: 0;
    left: 25px;
    height: 39px
}

#gallery-controls button {
    margin-right: 10px
}

#gallery-controls .play {
    background-image: url('/static/images/playback_play grijs.png');
    background-position: 5px
}

#gallery-controls .pause {
    background-image: url('/static/images/playback_pause_rood.png')
}

#gallery-controls .next {
    background-image: url('/static/images/playback_next grijs.png')
}

#gallery-controls .prev {
    background-image: url('/static/images/playback_prev grijs.png')
}