<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="ie=9,chrome=1">
  <title>{% block title %}{% endblock %} | Frans de Leef</title>
  <link href="http://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="/static/css/utilities.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/columns.css">
</head>
<body>

<div class="page-wrapper">
  <section class="main">
    {% block content %}{% endblock %}
    <footer></footer>
  </section>
  <nav class="menu">
    <div class="left">
      <a href="/kunst">kunst</a>
      <a href="/columns">columns</a>
      <a href="/artiest">artiest</a>
      <a href="/nieuws">nieuws</a>
      <a href="/links">links</a></div>
      <a class="home" href="/">home</a>
    </nav>
  <aside>
    <div class="aside-wrapper">
      <h2>Frans de Leef</h2>
      {% block content-aside %}
      {% endblock %}
    </div>
    <nav class="address">
      Hendrik van Deventerstraat 1 bis<br>
      2563 XP Den Haag<br>
      070 3645633 / 06 12353247<br>
      <a href="mailto:deleef@hetnet.nl">deleef@hetnet.nl</a>
    </nav>
  </aside>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="/static/js/lib/iscroll.js"></script>
<script src="/static/js/gallery.js"></script>
{% block script-at-foot %}
{% endblock %}
</body>
</html>